:root {
    --hero-color: #ffffff;
    --hero-color-fade: oklch(from var(--hero-color) l c h /.65) ;
    --primary-color: rgba(184, 103, 27, 0.90);
    --secondary-color: rgba(0, 0, 0, 0.918);
    --accent-color1:black;
    --text1: gray;
    --text-facbook:#004f9d;

    --hero-color-dark: #252525;
    --hero-color-fade-dark: oklch(from var(--hero-color) l c h /.65) ;  
    --primary-color-dark: rgba(56, 56, 56, 0.90);  
    --secondary-color-dark: rgba(0, 0, 0, 0.918);
    --accent-color1-dark: white;
}

@media(prefers-color-scheme: dark) {
    :root {
        --hero-color: var(--hero-color-dark);
        --hero-color-fade: var(--hero-color-fade-dark);
        --primary-color: var(--primary-color-dark);
        --secondary-color: var(--secondary-color-dark);
        --accent-color1: var(--accent-color1-dark);
    }
}

body {
    background: RGB(58,58,58);
    color: white;
    font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/*Header*/
.hero{
    background-color: black;
    background-image: url(Images/heroimg.png);
    background-size: 100%;
    background-position: center;
    box-sizing: border-box;
    border-image: 
    linear-gradient(
        #00000000 50%,
        var(--hero-color-fade) 70%,
        var(--hero-color) 90%)
        fill 1;
        height: 20rem;
        padding: 1rem;
        position: relative;
        width: 100%;
}
    
header a {
    color: white;
    font-size: 2rem;
    text-decoration: none;
    text-shadow: 5px 5px 5px black;
    margin-top: 2rem; 
}

.header-content {
    display: inline-flex;
    width: 100%;
}

.large-header:last-child {
    justify-content: right;
}

.header-nav {
    margin-right: 1rem;
}

.header-nav.Logo {
    background-color: wheat;
    background-image: url("Images/Logo_400.png");
    background-size: 5rem;
    border-radius: 50%;
    display: inline-flex;
    position: relative;
    Top: -1.25rem;
    height: 5rem;
    Width: 5rem;
    text-indent: -9999999px ;
}

.header-internal-links {
    display: inline-flex;
}    

.header-nav.about {
    white-space: nowrap;
}

.off-screen-menu {
    background-color: var(--primary-color);
    height: auto;
    width: 100%;
    max-width: 12rem;
    position: fixed;
    top: 0;
    right: -500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    font-size: 3rem;
    transition: .3s ease;
    padding-left: 2rem;
    padding-bottom: 2rem;
    border-radius: .5rem;
    visibility: hidden;
}

.off-screen-menu.active {
    right: 0;
}

.ham-menu {
    height: 5rem;
    width: 5rem;
    margin-top: .75rem;
    margin-left: auto;
    position: relative;
}

.ham-menu span {
    height: .5rem;
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.large-header .header-actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.header-nav.actions {
    display: inline-flex;
    margin-top: 1rem;
    margin-right: 2rem;
    position: relative;
}

.mobile-tab, .ham-menu{
    visibility: hidden;
    position: absolute;
}

#action {
    height: 2.5rem;
    padding: 1rem;
    background-color: rgba(230, 116, 50, 0.75);
    border-radius: 1.5rem;
}

#action:hover {
    transform: translateY(-2px);
    box-shadow: 3px 3px 10px black;
} 


/*sections*/
section {
    background: var(--hero-color);
    color: var(--text1);
    padding: 2rem;
}

.contact {
    display: inline-block;
    vertical-align: top;
}

.large-facebook {
    position: relative;
    fill: var(--hero-color);
}

.info {
    display: inline-block;
    width: 100px;
}

.About-Info, .About-Price {
    display: inline-block;
    margin: auto;
    width: 80%;
    position: relative;
    font-size: 100%;
    color: var(--accent-color1);
}


/*Gallery*/

.container {
    max-width: 110rem;
    padding: 5rem 2rem;
    margin: 0 auto;
}

#gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 20px;
}

.galleryImg {
    max-width: 100%;
    border-radius: 10px;
    position: relative;
    transform: 250ms;
    cursor: pointer;
}

.galleryImg:hover {
    transform: translateY(-2px);
    box-shadow: 3px 3px 10px black;
}

#popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: 250ms transform;
    /*padding: 2rem;*/
}

#selectedImage {
    max-height: 100%;
}

/*footer*/

.large-footer {
    background: black;
    padding: 1rem 2rem;
    display: inline-flex;
    width: 100%;
    box-sizing: border-box;
}

.footer-logo {
    height: 5rem;
    width: auto;
    border-radius: 50%;
    margin-top: 1rem;
}

.footer-contact {
    margin-top: 1.5rem;
    margin-right: 2.5rem;
}

.footer-adress, .footer-name {
    display: block;
    font-size: 2.0rem;
    margin: 1rem;
}

.footer-email, .footer-number {
    display: block;
}


.footer-facebook {
    background-color: rgb(102, 156, 255);
    border-radius: 50%;
    padding: .25rem;
    position: relative;
    top: .5rem;
}

/*Mobile*/ 

.mobile#action {
        visibility: hidden;
        position: absolute;
}

@media (max-width:900px) {

    .desktop, .ham-menu {
        visibility: hidden;
        position: absolute;
}

    .mobile, .mobile#action {
        visibility: visible;
        position: static;
}

    .footer-adress, .footer-name {
        font-size: 1rem;
    }
}

@media (max-width:650px) {
    .mobile, .mobile#action {
        visibility: hidden;
        position: absolute;
    }

    .desktop {
        visibility: hidden;
        position: absolute;
}

    .ham-menu {
        visibility: visible;
        position: relative;
    }

    .header-internal-links {
        visibility: hidden;
        position: absolute;        
    }

    .off-screen-menu {
        visibility: visible;
    }
}

@media (max-width:500px) {
    .large-footer {
        display: block;
    }
}